<%- include("includes/cabeca", { bot, user, path}) %>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<script data-ad-client="ca-pub-5060094133374811" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<div class="container jumbotron text-center bg-transparent">
           <% if(user) { %>
          
   <img style="border-radius: 50%;" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=128">

  

<div class="container jumbotron pb-0 bg-transparent">

    <h1 class="display-3">Comandos</h1>

    <hr>

</div>

<div class="container">

    <div class="row">

        <div class="col-sm-3">
            <p>Em breve.... </p>

          <% } else {%>

           

<div class="container jumbotron pb-0 bg-transparent">

    <h1 class="display-3">Comandos</h1>

    <hr>
<div class="w3-row-padding w3-center w3-margin-top">

<div class="w3-third">

  <div class="w3-card w3-container" style="min-height:460px">

  <h3>Moderação</h3><br>

  <i class="fa fa-cogs w3-margin-bottom w3-text-theme" style="font-size:120px"></i>

  <h4>ban

</h4>
    <p> Banir um usuário do  servidor </p>
    <h4>kick</h4>
    <p>Expulsar um usuário do servidor</p>
    <h4>mute</h4>
    <p>Silenciar um usuário<p>
    <h4>unmute</h4>
    <p>Des-Silenciar um usuário</p>
    <h4>lock</h4>
    <p>Trancar um canal </p>
     <h4>unlck</h4>
<p> Abrir um canal </p>
<h4>defense</h4>
    <p>Verificar ou adicionar defesa no servidor</p>
    <h4>warn</h4>
    <p>Enviar um aviso para um usuário que estava descompromissado as regras</p>
    
  </div>

</div>
  

<div class="w3-third">

  <div class="w3-card w3-container" style="min-height:460px">

  <h3>Sistema de level</h3><br>

  <i class="fa fa-level-up w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
    <h4>Rank</h4>
    <p>Verificar seu level/px ou de outros usuários</p>
    <h4>locklevel</h4>
    <p>Ativar ou desativar o sistema de level do servidor</p>
    <h4>leaderboard</h4>
    <p>Mostrar o ranking dos top 10 (do servidor)</p>
    

  </div>

</div>
<%}%>
</style>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- anúncios -->

<ins class="adsbygoogle"

     style="display:block"

     data-ad-client="ca-pub-5060094133374811"

     data-ad-slot="5415636108"

     data-ad-format="auto"

     data-full-width-responsive="true"></ins>

<script>

     (adsbygoogle = window.adsbygoogle || []).push({});

</script>
  </body>