<%- include("includes/cabeca", { bot, user, path}) %>
<head>
  <script data-ad-client="ca-pub-5060094133374811" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
<body>
<main>

    <section id="policy" class="lb-bg-white">

        <div class="container">

            <div class="row">

                <div class="col-12 my-3">

                    <h1>Política de privacidade</h1>

                    <h2>Informações de acordo com § 5 TMG</h2>

<br>



                    <h3>Responsabilidade por Conteúdo</h3>
<p> Como prestadores de serviços, somos responsáveis pelo próprio conteúdo desses sites de acordo com a Sec. 7, parágrafo 1 German Telemedia Act (TMG). No entanto, de acordo com a Seç. 8 a 10 German Telemedia Act (TMG), os prestadores de serviços não são obrigados a monitorar permanentemente os dados enviados ou armazenados informações ou para procurar evidências que indiquem atividades ilegais. </p> 
                      <p> As obrigações legais de remover informações ou bloquear o uso de informações permanecem incontestado. Neste caso, a responsabilidade só é possível no momento do conhecimento de um violação específica da lei. O conteúdo ilegal será removido imediatamente no momento em que recebermos conhecimento deles. </p> 
                      <h3> Responsabilidade por links </h3>
                      <p> Nossa oferta inclui links para sites externos de terceiros. Não temos influência no conteúdo desses sites, portanto, não podemos garantir por esses conteúdos. Provedores ou administradores de sites vinculados são sempre responsáveis por seus próprios conteúdos. </p> 
                      <p> Os sites vinculados foram verificados quanto a possíveis violações da lei na época do estabelecimento do link. Conteúdos ilegais não foram detectados no momento da vinculação. UMA o monitoramento permanente do conteúdo de sites vinculados não pode ser imposto sem razoável indicações de que houve uma violação da lei. Links ilegais serão removidos imediatamente no momento em que os conhecemos. </p>
                      <h3> Direitos autorais </h3>
                      <p> Os conteúdos e compilações publicados nestes sites pelos fornecedores estão sujeitos ao alemão leis de direitos autorais. Reprodução, edição, distribuição, bem como o uso de qualquer tipo fora do âmbito da lei de direitos autorais exigem uma permissão por escrito do autor ou originador. Transferências e as cópias desses sites são permitidas apenas para uso privado. <br /> O uso comercial de nosso conteúdo sem permissão do autor é proibido. </p>
                      <p> As leis de direitos autorais de terceiros são respeitadas, desde que o conteúdo desses sites não se originam do provedor. As contribuições de terceiros neste site são indicadas como tal. No entanto, se você notar qualquer violação da lei de direitos autorais, por favor nos informe. Esses conteúdos serão removido imediatamente. </p>
                       </div>
              

                    <h4>Contact</h4>
              <br>
              <br>
   
                    <p>E-mail:clecio1084@gmail.com<p>
                      


                    <p>Clécio Santos</p>

            </div>

        </div>

    </section>

</main>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- anúncios -->

<ins class="adsbygoogle"

     style="display:block"

     data-ad-client="ca-pub-5060094133374811"

     data-ad-slot="5415636108"

     data-ad-format="auto"

     data-full-width-responsive="true"></ins>

<script>

     (adsbygoogle = window.adsbygoogle || []).push({});

</script>
  </body>